{% extends "layout.html" %}
{% block content %}

  <div class="list-group audio-files">
  {% for file in files %}
    <a href="{{ url_for('audio_file', filename=file.name) }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ file.name }}</h5>
        <small class="text-muted">{{ file.duration }}</small>
      </div>
      <small class="text-muted">{{ file.size }} MB</small>
    </a>
  {% endfor %}

{% endblock content %}